#include "menuf.h"

Figure MENU
     {
     POPUP "&File"
          {
          MENUITEM "&Clear",                 IDM_CLEAR
          MENUITEM SEPARATOR
          MENUITEM "E&xit",                  IDM_EXIT
          }
     POPUP "&Figures"
          {
          MENUITEM "&Rectangle",             IDM_RECTANGLE
          MENUITEM "&Ellipse",               IDM_ELLIPSE
          MENUITEM "&Pie",                   IDM_PIE
          }
     }
